.App {
  text-align: center;
}
.searchBarWindow{
  align-items: center;
  margin-bottom: 50px;
}
.searchBarWindow > * {
  display: inline-table;

}

.imageWindow{
  padding: 30px;
  margin-bottom: 50px;
  /* height: 500px; */
}

 .imageBlock{
   width: 100%;
   margin-bottom: -5px;
   padding: 5px;
   border-radius: 10px;
  /* height: 100%; */
  /* object-fit: cover; */
} 


 
 